:root {
}

.main-menu-button {
    background-color: rgba(255, 250, 250, 0);
    -unity-font-definition: url("project://database/Assets/Fonts/Jersey_10/Jersey10-Regular.ttf?fileID=12800000&guid=5dabefc41cacb1c45b498435a4b64904&type=3#Jersey10-Regular");
    font-size: 36px;
    -unity-font-style: normal;
    letter-spacing: 2px;
    color: rgb(255, 250, 250);
    scale: 2 2 2;
}
