:root {
}

.scoreLabel {
    -unity-text-align: upper-center;
    -unity-font-definition: url("project://database/Assets/Fonts/Jersey_10/Jersey10-Regular.ttf?fileID=12800000&guid=5dabefc41cacb1c45b498435a4b64904&type=3#Jersey10-Regular");
    font-size: 96px;
    -unity-font-style: normal;
    color: rgb(245, 245, 245);
    margin-top: 8px;
    padding-top: 8px;
}
